body {
  font-family: 'Times New Roman', serif, sans-serif;
  background-color: white;
  size-adjust: static;
}

h3 {
  text-align: left;
  color: red;
}

table {
  border-collapse: collapse;
  margin: auto;
}

td {
  padding: 6px;
  vertical-align: center;
}

.label {
  text-align: right;
  font-weight: bold;
  width: 200px;
}
.labeltop {
  text-align: right;
  font-weight: bold;
  width: 200px;
  vertical-align: top;
}

.star {
  color: red;
}

input,
select {
  padding: 5px;
  width: 200px;
}

.radio-group input {
  width: auto;


}

.note {
  font-size: smaller;
  color: grey;
}

.small-input {
  width: 100px;
}

input[type="submit"],
input[type="reset"] {
  width: auto;
  padding: 5px 10px;
  cursor: pointer;

}
input[type="checkbox"] {
  width: auto;
  align-content: left;
}
